<article class="invoice">
  <div class="details">
    <h3>{{this.invoice.title}}</h3>
    <div class="amount">
      <span>Amount:</span> {{this.invoice.amount}}
    </div>
    <div class="date">
      <span>Date:</span> {{this.invoice.date}}
    </div>
  </div>
</article>